@model TrainingApp.MVC.ViewModel.UserVM
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row">
        <h5 class="col-xs-2 col-lg-2">Name:</h5>
        <h5 class="col-lg-10 col-md-10 col-xs-10">@Model.Name</h5>

        <h5 class="col-lg-2 col-md-2 col-xs-2">Age:</h5>
        <h5 class="col-lg-10 col-md-10 col-xs-10">@Model.Age </h5>

        <h5 class="col-lg-2 col-md-2 col-xs-2">University:</h5>
        <h5 class="col-lg-10 col-md-10 col-xs-10">@Model.University</h5>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Course Title</th>
                <th scope="col">Result</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var n in Model.CourseVMList)
            {
                <tr>
                    <td>@n.CourseName</td>
                    @if (!n.IsPassed)
                    {
                        <td class="text-danger">@n.Grade</td>
                    }
                    else
                    {
                        <td class="text-success">@n.Grade</td>
                    }
                </tr>
            }

        </tbody>
    </table>
    <div>
        <button class="btn btn-primary" data-toggle="modal" data-target=".add-contact-modal">Add</button>
    </div>
    <div class="modal fade add-contact-modal" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Partial("AddCourseForm")
                    <!--<form action="/User/AddCourse" method="post">
                        <div class="form-group">
                            <input type="text" style="display:none;" class="form-control" id="onAddCourse" data-value="@ViewBag.onAddCourse">
                            <label asp-for="Name" class="control-label"></label>
                            @Html.EditorFor(model => model.AddCourseVM.CourseName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AddCourseVM.CourseName, String.Empty, new { @class = "text-danger" })
                        </div>
                        <div class="form-group" style="margin-bottom:10px;">
                            <label asp-for="Country" class="control-label"></label>
                            @Html.EditorFor(model => model.AddCourseVM.Grade, new { htmlAttributes = new { id = "GradeInput", @class = "form-control Grade" }})
                            @Html.ValidationMessageFor(model => model.AddCourseVM.Grade, String.Empty, new { id="GradeInputErr", @class = "text-danger" })
                            @Html.HiddenFor(c => c.Id)
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary pull-left"  onclick="return isValid()">Save</button>
                            <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary pull-left">Cancel</button>
                        </div>
                    </form>-->
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        var pageInIt = {
            InitOnModalCancel : function () {
                var cancel = $("#onModalCancelButton");
                cancel.click(function () {
                    $("#addCourseModal").modal('hide');
                })
            }
        }
        function isValid() {
            var gradeInput = $('#GradeInput').val();
            const grade = ["Passed", "Failed"];
            var isValidGrade = $.inArray(gradeInput, grade) > -1;
            if (!isValidGrade) $('#GradeInputErr').text("Invalid Grade...");
            return isValidGrade;
        }

        $(document).ready(function () {
            pageInIt.InitOnModalCancel;
            var onAddCourse = $('#onAddCourse').data("value");
            //console.log("onaddCourse => " + onAddCourse);
            if (onAddCourse === "False") {
                $("#addCourseModal").modal('show');
            }})
    </script>
}
