@model ContactVM
@{ 
    var selectListItem =  new List<SelectListItem>();
    selectListItem.Add(new SelectListItem
    {
        Text = "Select Category",
        Value = null,
        Selected = true
    });
    selectListItem.Add(new SelectListItem
    {
        Text = "Manager",
        Value = "Manager"
    });

    selectListItem.Add(new SelectListItem
    {
        Text = "Developer",
        Value = "Developer"
    });
    selectListItem.Add(new SelectListItem
    {
        Text = "Designer",
        Value = "Designer"
    });

    IEnumerable<SelectListItem> selectedListCategory = selectListItem;

}
<div class="modal fade add-contact-modal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content  pt-2 pl-3 pr-3 pb-3">
            <div class="modal-header" style="margin-left:-1rem;">
                <h5 class="modal-title" style="font-size:14px;">Create New Contact</h5>
                <button type="button" class="close" id="close-addpatient-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddContact", "Contact", FormMethod.Post, new { id = "AddContactForm", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
        <div class="mt-3 mb-3 d-flex justify-content-center" id="image-uploader-div">
            <input type="file" id="image-uploader-input" name="file" style="display:none;" />

            <div class="d-flex justify-content-center w-25 h-25 p-3" style="background-color:aliceblue; border-radius:10px;">
                <i class="fa fa-3x fa-user-circle" id="user-icon-i" style="color:deepskyblue;"></i>
                <img id="imgPreview" alt="pic" style="width:100px;height:100px; display:none;" />
            </div>
        </div>
                <div class="row mt-2">
                    <div class="form-group col">
                        <label for="InputNRIC">First Name<span style="color:red">*</span></label>
                        @Html.EditorFor(model => model.AddContactVM.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AddContactVM.FirstName, String.Empty, new { @class = "text-danger" })
                    </div>
                    <div class="form-group col">
                        <label for="InputFullName">Last Name<span style="color:red">*</span></label>
                        @Html.EditorFor(model => model.AddContactVM.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AddContactVM.LastName, String.Empty, new { id = "GradeInputErr", @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group mt-2">
                    <label for="InputNRIC">Email<span style="color:red">*</span></label>
                    @Html.EditorFor(model => model.AddContactVM.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "eg. chenthye0825@hotmail.com", @style = "max-width:100%;" } })
                    @Html.ValidationMessageFor(model => model.AddContactVM.Email, String.Empty, new { id = "GradeInputErr", @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="InputPhoneNumber">Phone Number<span style="color:red">*</span></label>
                        @Html.EditorFor(model => model.AddContactVM.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "eg. 018-123456789" } })
                        @Html.ValidationMessageFor(model => model.AddContactVM.PhoneNumber, String.Empty, new { id = "GradeInputErr", @class = "text-danger" })
                    </div>
                    <div class="form-group col">
                        <label for="InputGender">Category<span style="color:red">*</span></label>
                        @Html.DropDownListFor(model => model.AddContactVM.Category, selectedListCategory, new { @class = "custom-select form-control", @placeholder = "eg. Select Category" })
                        @Html.ValidationMessageFor(model => model.AddContactVM.Category, String.Empty, new { id = "GradeInputErr", @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="InputPhoneNumber">Salary Rate/Hr<span style="color:red">*</span></label>
                        @Html.EditorFor(model => model.AddContactVM.HourRate, new { htmlAttributes = new { @class = "form-control", @placeholder = "eg. 17/Hr" } })
                        @Html.ValidationMessageFor(model => model.AddContactVM.HourRate, String.Empty, new { id = "GradeInputErr", @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <div class="modal-footer">
                    <button class="btn btn-light mr-auto px-3 py-2">Cancel</button>
                    <button type="submit" class="btn" style="background: #8173FE; color:white;">Add Contact</button>
                </div>
            }
        </div>
    </div>
</div>
